
.ameneDef {
    margin-left: 4%;
    margin-right: 4%;
  }
  
  .explPic {
    background: url('./img/explore.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 400px;
    border-top-right-radius: 15%;
  }
  
  .explDef {
    background-color: #333;
    height: 400px;
    padding: 50px;
    border-top-left-radius: 15%;

  }
  
  .destPic {
    background-image: url('./img/destination.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 400px;
    border-top-right-radius: 15%;

  }

  .my-hr hr {
    visibility: hidden;
  }
  
  .destDef {
    background-color: #333;
    height: 400px;
    padding: 50px;
    border-top-left-radius: 15%;

    /* margin-bottom: 100px; */
  }
  .insuitPic {
    background-image: url('./img/insuit.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 700px;
    border-bottom-left-radius: 15%;
  }
  
  .insuitDef {
    background-color: #333;
    height: 700px;
    padding: 50px;
    border-bottom-right-radius: 15%;
  }
  .foodPic {
    background-image: url('./img/food.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 700px;
    border-bottom-left-radius: 15%;
  }
  
  .foodDef {
    background-color: #333;
    height: 700px;
    padding: 100px;
    border-bottom-right-radius: 15%;
  }
  .lightPic {
    background-image: url('./img/light.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 700px;
    border-bottom-left-radius: 15%;
  }
  
  .lightDef {
    background-color: #333;
    height: 700px;
    padding: 100px;
    border-bottom-right-radius: 15%;
  }




  h2 {
    color: aliceblue;
  }
  

  
  .col-lg-6 p {
    color: aliceblue;
    font-size: 16px;
  }


.title-c {
  color: #b4906d !important;
}


.contact{
  color: aliceblue;
  padding: 30px;
  position: relative;
  top: 30px;
  left: 50px;
  
}

.contact-d {
  width: 100%;
  margin: auto;
}

.contact-d input  {
  border-color: #b4906d;

}

.contact-d textarea {
  border-color: #b4906d;

}

.contact h5 {
  padding-bottom: 20px;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

label {
  display: block;
  margin-top: 20px;
}


input, textarea {
  color: #ccc;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #333;

}



button[type=submit] {
  background-color: #b4906d  ;
  color: white;
  padding: 12px 20px;
  border: none;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
}

button[type=submit]:hover {
  background-color: #f7c08a;
}

.txtA {
  width: 150%;
  height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid gray;
  border-radius: 5px;
}

.btn{
  background-color: #ffffff;
  color: #000000;
  margin: 20px;
  margin-left: 10%;
  padding: 20px;
  border: solid 1px rgb(255, 0, 0);
  border-radius: 7px;
  cursor: pointer;
  display: block;
}

