/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  
}

.op-nav {
  max-height: 70vh;
  background: url(./img/banner1.jpg) no-repeat center center/cover ;
  margin-bottom: 30px;
  
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* .container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
} */

.text-primary {
  color: #ffffff;
}

.logoimg{
  border-radius: 50px;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #ffffff;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

.clr {
  clear: both;
}


#navbar {
  background: #000000;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover, 
#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}
#showcase-container {
  width: 1300px;
  margin: auto;
}

#showcase {
  margin-top: 100px;
  background:url('./img/overlay.png'), url('./img/enjoy.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 600px;
}
#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

#home-info {
  height: 400px;
  margin-bottom: 40px;
  margin-top: 40px;
  border-color: #f7c08a;
}

#home-info .info-img {

  float: left;
  width: 50%;
  background: url('./img/about1.jpg') no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
    min-height: 100%;

}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info .info-content p {
  /* padding-bottom: 30px; */
  line-height: 2.5em;

}

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  padding-bottom: 30px;
  text-align:center;
  padding-bottom: -10px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f7c08a !important;
}

.box i {
  margin-bottom: 10px;
}

#main-footer {
  text-align: center;
  background: #000000;
  color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}



/* 

#contact form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#contact form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid gray;
  border-radius: 5px;
}

#contact form textarea {
  width: 80%;
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid gray;
  border-radius: 5px;
}


#contact form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}
*/
/* footer {
  background-color: #ffffff;
  color: #f1f1f1;
  padding: 10px;
  text-align: center;
} */