body{
	background:#444;
	font-family: 'Raleway',sans-serif;

}

.carousel {
	position: relative;
	bottom: 130px;
}

/* #carousel {
	margin-top: -50px !important;
} */

.slideshow figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 10px;
	text-align: center;
	font-weight: bold;
  }

   .ban-img {
	height: 650px !important;
	width: 100%;
	opacity: 0.8;
  } 
  

.banner{
	height: 90vh;
	width: 100%;

	/* /* background:url('./img/overlay.png'),url('./img/banner.png'); */
	/* background-position: top;
	background-size:cover;
	background-repeat: no-repeat;

    margin-top: 10px;
	border-bottom-left-radius: 10%;   border-bottom-right-radius: 10%;    */
}

.d-block {
	height: 500px;
}

.banner .navbar{
	margin-top:4%;
	z-index: 1;
}
.banner .navbar-brand{
	color: #fff;
	font-size:1.8em;
	font-weight: 700;
	margin-left: 10%;
}
.banner .nav{
	margin-right:10%; 
}
.banner .nav li a{
	color:#d2d2d2;
	font-size: 1.1em;
}
.banner .nav li a:hover {
    background: #8af0f77b;
    border-radius: 50%;
    color: #333;
  }
.banner .info{
	margin-top:10%;
}
.banner .info h1{
	font-size: 2.5em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color: #aaa;
	letter-spacing: 2px;
}
.banner .info .btn-md{
	margin-left:50%;
	transform: translateX(-50%);
	color: #000000;
	background:url('./img/yellow.png'),#ea0b33;
	background-size: contain;
	background-position: center;
	padding:10px 20px;
	font-size: 2em;
	font-weight: 600; 
	margin-bottom: 40px;
	margin-right: 120px;
}
.banner .info a:hover{
	background:url('./img/yellow.png'), #333;
	background-size: contain;
	background-position: center;
	color: rgb(60, 13, 13);
}
